* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    text-align: center;
    background-color: rgb(199, 192, 207);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
   

}

header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    margin: 0 auto;
    padding: 0;
    height: 450px;
    width: auto;
    background-image: url(../img/fooldal/header1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.down-header {
    display: flex;
    font-size: 50px;
    color: white;
    text-shadow: 0px 2px 4px black;
    text-align: center;
    grid-column: 1 / 3;
    grid-row: 6 / 7;
    justify-self: center;
    align-items: center;

    --animate-duration: 3s;
}

.right-header {
    display: flex;
    font-size: 30px;
    color: white;
    text-shadow: 0px 2px 4px black;
    grid-column : 1 / 3;
    grid-row: 7 / 8;
    justify-self: center;
    align-items: center;
    --animate-delay: 2s;
    --animate-duration: 3s;
    }

    nav {
        position: relative;
        background-image: linear-gradient(
            153deg,
            rgba(152, 152, 152, 0.03) 0%,
            rgba(152, 152, 152, 0.03) 9%,
            rgba(197, 197, 197, 0) 9%,
            rgba(197, 197, 197, 0.03) 21%,
            rgba(106, 106, 106, 0.03) 21%,
            rgba(106, 106, 106, 0.03) 32%,
            rgba(222, 222, 222, 0.03) 32%,
            rgba(222, 222, 222, 0.03) 72%,
            rgba(16, 16, 16, 0.03) 72%,
            rgba(16, 16, 16, 0.03) 92%,
            rgba(181, 181, 181, 0.03) 92%,
            rgba(181, 181, 181, 0.03) 97%,
            rgba(130, 130, 130, 0.03) 97%,
            rgba(130, 130, 130, 0.03) 100%
        ),
        linear-gradient(
            39deg,
            rgba(237, 237, 237, 0.03) 0%,
            rgba(237, 237, 237, 0.03) 22%,
            rgba(126, 126, 126, 0.03) 22%,
            rgba(126, 126, 126, 0.03) 55%,
            rgba(196, 196, 196, 0.03) 55%,
            rgba(196, 196, 196, 0.03) 61%,
            rgba(121, 121, 121, 0.03) 61%,
            rgba(121, 121, 121, 0.03) 71%,
            rgba(133, 133, 133, 0.03) 71%,
            rgba(133, 133, 133, 0.03) 84%,
            rgba(132, 132, 132, 0.03) 84%,
            rgba(132, 132, 132, 0.03) 97%,
            rgba(185, 185, 185, 0.03) 97%,
            rgba(185, 185, 185, 0.03) 100%
        ),
        linear-gradient(
            124deg,
            rgba(168, 168, 168, 0.03) 0%,
            rgba(168, 168, 168, 0.03) 7%,
            rgba(169, 169, 169, 0.03) 7%,
            rgba(169, 169, 169, 0.03) 19%,
            rgba(73, 73, 73, 0.03) 19%,
            rgba(73, 73, 73, 0.03) 50%,
            rgba(150, 150, 150, 0.03) 50%,
            rgba(150, 150, 150, 0.03) 67%,
            rgba(68, 68, 68, 0.03) 67%,
            rgba(68, 68, 68, 0.03) 81%,
            rgba(111, 111, 111, 0.03) 81%,
            rgba(111, 111, 111, 0.03) 91%,
            rgba(191, 191, 191, 0.03) 91%,
            rgba(191, 191, 191, 0.03) 100%
        ),
        linear-gradient(
            95deg,
            rgba(147, 147, 147, 0.03) 0%,
            rgba(147, 147, 147, 0.03) 17%,
            rgba(79, 79, 79, 0.03) 17%,
            rgba(79, 79, 79, 0.03) 27%,
            rgba(28, 28, 28, 0.03) 27%,
            rgba(28, 28, 28, 0.03) 45%,
            rgba(27, 27, 27, 0.03) 45%,
            rgba(27, 27, 27, 0.03) 56%,
            rgba(228, 228, 228, 0.03) 56%,
            rgba(228, 228, 228, 0.03) 64%,
            rgba(38, 38, 38, 0.03) 64%,
            rgba(38, 38, 38, 0.03) 72%,
            rgba(42, 42, 42, 0.03) 72%,
            rgba(42, 42, 42, 0.03) 100%
        ),
        linear-gradient(
            346deg,
            rgba(59, 59, 59, 0.03) 0%,
            rgba(59, 59, 59, 0.03) 16%,
            rgba(66, 66, 66, 0.03) 16%,
            rgba(66, 66, 66, 0.03) 20%,
            rgba(236, 236, 236, 0.03) 20%,
            rgba(236, 236, 236, 0.03) 41%,
            rgba(244, 244, 244, 0.03) 41%,
            rgba(244, 244, 244, 0.03) 55%,
            rgba(106, 106, 106, 0.03) 55%,
            rgba(106, 106, 106, 0.03) 61%,
            rgba(220, 220, 220, 0.03) 61%,
            rgba(220, 220, 220, 0.03) 63%,
            rgba(209, 209, 209, 0.03) 63%,
            rgba(209, 209, 209, 0.03) 100%
        ),
        linear-gradient(
            to right, 
            rgba(17, 8, 13, 1) 0%,       
            rgb(176, 159, 171) 50%,  
            rgba(17, 8, 13, 1) 100%
        );
        padding: 10px 0px;
        margin-bottom: 30px;
       } 
    
    
    nav ul {
        display: flex;
        justify-content: start;
        list-style: none;
        padding: 0;
    }
    
    nav ul li {
        margin: 0 15px;
    }
    
    nav ul li a {
        display: block;
        text-decoration: none;
        font-size: 18px;
        color: black;
        background-color: white;
        padding: 12px 20px;
        border-radius: 12px;
    } 
    
    nav ul li a:hover {
        background-color: rgb(87, 66, 78);
        color: #f1eff4;
        transition: all 0.3s ease;
    } 
    
    
    
    nav ul li .dropdown-webshop {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgb(87, 66, 78);
        color: white;
        width: 200px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        border-radius: 12px;
        padding: 10px;
        z-index: 1;
    }
    
    nav ul li .dropdown-webshop li {
        padding: 12px 20px;
        border-radius: 12px;
    }
    
    nav ul li .dropdown-webshop li a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 10px 15px;
        background-color: rgb(87, 66, 78);
        border-radius: 12px;
    }
    
    nav ul li .dropdown-webshop li a:hover {
        background-color: rgb(60, 57, 63);
        color: #f1eff4;
        border-radius: 12px;
    
    }
    
    nav ul li .dropdown-webshop li a:hover {
        background-color: white;
        color: black;
        border-radius: 12px;
        transition: all 0.3s ease;
    } 
    nav ul li.dropdown {
        position: relative; 
    }
    
    .material-symbols-outlined {
        font-size: 18px;
        vertical-align: middle; 
        margin-left: 5px; 
        line-height: 1; 
    }
    
    
    nav ul li:hover .dropdown-webshop {
        display: block;
        animation: fadeIn 0.3s ease-out;
    }
    
    
    
      .dropdown:hover .dropdown-webshop {
        display: block;
      }
    
    
    nav ul li.flex-right {
        margin-left: auto;
    } 
    
    
     @media (max-width: 600px) {
        nav ul {
            flex-direction: row;
            display: flex;
            justify-content: space-between;
           
        }
    
        nav ul li {
            margin: 10px 0;
            
        }
    
        nav ul li a {
            padding: 5px 10px;
            display: inline-block;
            margin: 0 10px;
        }
    
        nav ul li.flex-right {
            margin-left: 0;
        }
     }  
    

h2, p {
    font-family: 'Nunito', sans-serif;
}

 h2 {
    font-size: 40px;
    margin: 35px auto;
}

.container {
        width: 75%;
        margin: 0 auto; 
    }
    
.container img {
        min-width: 300px;
        width: 40vmax; 
        float: left; 
        margin-right: 10px; 
       margin-bottom: 0px;
        clear: both; 
    }
    
.container .text p {
        font-size: 20px; 
        line-height: 2; 
    }

 @media (max-width: 800px) {
    .container {
    width: 100%; 
}
 }



.container .text {
    flex: 1; 
    font-size: 18px;
    text-align: left;
}  

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 50px;
    width: 75%;
    margin: 50px auto;
    padding: 20px;
}

.grid-item {
    position: relative;
    height: 350px;
}


.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.6s ease, box-shadow 0.6s ease;
}



.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.6s ease;
}

/* .grid-item:hover img {
    transform: scale(1.05);
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
} */

.grid-item:hover img {
    opacity: 0.6; 
    transform: scale(1.05); 
}

.grid-item:hover .overlay {
    opacity: 1;
}

@media (max-width: 800px) {
    .image-grid {
    width: 100%; 
}
 }

 h3{
    font-size: 25px;
 }
 .courses-table {
    width: 80%;
    border-collapse: collapse;
    margin: 50px auto;
}

.courses-table th, .courses-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.courses-table th {
    background-color: rgb(150, 116, 168);
    color: white;
}

.courses-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.courses-table tr:hover {
    background-color: #ddd;
}


 .footer-container {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 2rem; 
    margin: 20px auto;
    width: 100%;
}

.footer-item {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    color: #777;
}

.footer-logo img {
    max-width:150px;
    height: auto; 
    object-fit: content;
    display: block; 
    margin: 0 auto; 
}
.footer-logo{
    display: flex; 
    flex-direction: column;
    justify-content:end;
    text-align: center; 
}

.footer-item h2 {
    font-size: 18px;
    margin-bottom: 1rem;
    color: #303030;
    min-height: 40px;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.links {
    list-style: none;
    padding: 0;
}

.links li {
    margin-bottom: 0.5rem;
    line-height: 1.5;
}

.links li a {
    text-decoration: none;
    color: #777;
    transition: color 0.3s;
}

.links li a:hover {
    color: #000;
}

.links li i {
    color: #777;
    margin-right: 0.5rem;
}


@media (max-width: 480px) {
    .footer-logo img {
        max-width: 100px; 
    }

    .footer-p {
        font-size: 14px;
    }
}

@media (max-width: 896px) {
    .footer-container {
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        gap: 2rem; 
        justify-items: center;  
    }
}

@media (max-width: 600px) {
    .footer-container {
        grid-template-columns: 1fr; 
    }
}

.copy-right-sec {
    text-align: center;
    padding: 1rem;
    background-image: linear-gradient(
        153deg,
        rgba(152, 152, 152, 0.03) 0%,
        rgba(152, 152, 152, 0.03) 9%,
        rgba(197, 197, 197, 0) 9%,
        rgba(197, 197, 197, 0.03) 21%,
        rgba(106, 106, 106, 0.03) 21%,
        rgba(106, 106, 106, 0.03) 32%,
        rgba(222, 222, 222, 0.03) 32%,
        rgba(222, 222, 222, 0.03) 72%,
        rgba(16, 16, 16, 0.03) 72%,
        rgba(16, 16, 16, 0.03) 92%,
        rgba(181, 181, 181, 0.03) 92%,
        rgba(181, 181, 181, 0.03) 97%,
        rgba(130, 130, 130, 0.03) 97%,
        rgba(130, 130, 130, 0.03) 100%
    ),
    linear-gradient(
        39deg,
        rgba(237, 237, 237, 0.03) 0%,
        rgba(237, 237, 237, 0.03) 22%,
        rgba(126, 126, 126, 0.03) 22%,
        rgba(126, 126, 126, 0.03) 55%,
        rgba(196, 196, 196, 0.03) 55%,
        rgba(196, 196, 196, 0.03) 61%,
        rgba(121, 121, 121, 0.03) 61%,
        rgba(121, 121, 121, 0.03) 71%,
        rgba(133, 133, 133, 0.03) 71%,
        rgba(133, 133, 133, 0.03) 84%,
        rgba(132, 132, 132, 0.03) 84%,
        rgba(132, 132, 132, 0.03) 97%,
        rgba(185, 185, 185, 0.03) 97%,
        rgba(185, 185, 185, 0.03) 100%
    ),
    linear-gradient(
        124deg,
        rgba(168, 168, 168, 0.03) 0%,
        rgba(168, 168, 168, 0.03) 7%,
        rgba(169, 169, 169, 0.03) 7%,
        rgba(169, 169, 169, 0.03) 19%,
        rgba(73, 73, 73, 0.03) 19%,
        rgba(73, 73, 73, 0.03) 50%,
        rgba(150, 150, 150, 0.03) 50%,
        rgba(150, 150, 150, 0.03) 67%,
        rgba(68, 68, 68, 0.03) 67%,
        rgba(68, 68, 68, 0.03) 81%,
        rgba(111, 111, 111, 0.03) 81%,
        rgba(111, 111, 111, 0.03) 91%,
        rgba(191, 191, 191, 0.03) 91%,
        rgba(191, 191, 191, 0.03) 100%
    ),
    linear-gradient(
        95deg,
        rgba(147, 147, 147, 0.03) 0%,
        rgba(147, 147, 147, 0.03) 17%,
        rgba(79, 79, 79, 0.03) 17%,
        rgba(79, 79, 79, 0.03) 27%,
        rgba(28, 28, 28, 0.03) 27%,
        rgba(28, 28, 28, 0.03) 45%,
        rgba(27, 27, 27, 0.03) 45%,
        rgba(27, 27, 27, 0.03) 56%,
        rgba(228, 228, 228, 0.03) 56%,
        rgba(228, 228, 228, 0.03) 64%,
        rgba(38, 38, 38, 0.03) 64%,
        rgba(38, 38, 38, 0.03) 72%,
        rgba(42, 42, 42, 0.03) 72%,
        rgba(42, 42, 42, 0.03) 100%
    ),
    linear-gradient(
        346deg,
        rgba(59, 59, 59, 0.03) 0%,
        rgba(59, 59, 59, 0.03) 16%,
        rgba(66, 66, 66, 0.03) 16%,
        rgba(66, 66, 66, 0.03) 20%,
        rgba(236, 236, 236, 0.03) 20%,
        rgba(236, 236, 236, 0.03) 41%,
        rgba(244, 244, 244, 0.03) 41%,
        rgba(244, 244, 244, 0.03) 55%,
        rgba(106, 106, 106, 0.03) 55%,
        rgba(106, 106, 106, 0.03) 61%,
        rgba(220, 220, 220, 0.03) 61%,
        rgba(220, 220, 220, 0.03) 63%,
        rgba(209, 209, 209, 0.03) 63%,
        rgba(209, 209, 209, 0.03) 100%
    ),
    linear-gradient(
        to right, 
        rgba(17, 8, 13, 1) 0%,       
        rgb(150, 116, 168) 50%,  
        rgba(17, 8, 13, 1) 100%
    );
    color: #fff;
    font-size: 14px;
    width: 100%;
}

.copy-right-sec a {
    color: #fcd462;
    text-decoration: none;
}

@media (max-width: 480px) {
    header {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: auto;
        padding: 20px;
        text-align: center;
        background-size: cover;
    }

    .down-header, .right-header {
        font-size: 24px;
        grid-column: 1 / -1;
        grid-row: auto;
        margin: 10px 0;
    }

    nav ul {
        flex-direction: column;
        padding: 0;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    nav ul li a {
        padding: 10px 15px;
        font-size: 16px;
    }

    

    h1 {
        font-size: 32px;
        margin: o auto;
    }

    h2 {
        font-size: 28px;
        margin: 0 auto;
    }

    p {
        font-size: 18px;
        line-height: 1.6;
        margin: 10px 0;
        width: 100%;
    }


    .footer-container {
        grid-template-columns: 1fr;
        gap: 10px;
        text-align: center;
    }

    .footer-item {
        margin-bottom: 20px;
    }

    .footer-logo img {
        max-width: 80px;
    }

    .copy-right-sec {
        font-size: 12px;
    }
}

